#Container {
    width: 1040px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.tvbox {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: url(/img/img_tv.png) no-repeat center center/contain;
}

/* スライダーライブラリ Swiper.js */
.swiper-container {
    position: absolute;
    width: 570px;
    height: 340px;
    top: 150px;
    left: 0;
    right: 65px;
    margin: 0 auto;
    overflow: hidden;
    z-index: -1;
}

.swiper-slide {
    width: 100%;
}

.slide-item > img {
    height: 100%;
}
